body {
  background-color: #c2c2c2;
  font-family: 'Emilys Candy', cursive;
  text-align: center;
  background: url(fondo web.png) no-repeat center center;
}

.container {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 48px;
  color: #333;
}

p {
  font-size: 24px;
  color: #666;
}
