body {
    background: #222222;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 50px;    
}

.imagen {
    background: url(En_Obra.png) no-repeat center center;
}
