body {
    background: #93c572;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;    
}

.imagen {
    background: url(En_Obra.png) no-repeat center center;
}
