body {
  width: 100%;
  background-color: #1c1c1c;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111111;
  color: #ffffff;
}

header * {
  margin-top: 0px;
}

.logo img {
  width: 300px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  letter-spacing: 1.5px;
  font-family: "Saira", Sans-serif;
}

nav a:hover {
  color: #ED582E;
}

.banner {
  display: flex;
  justify-content: center;
  height: 560px;
  background-color: #1c1c1c;
  color: #ED582E;
}

.imagen-banner {
  text-align: center;
}

.imagen-banner img {
  width: 80%;
  border-radius: 5px;
}

.texto-banner {
  position: absolute;
  text-align: center;
}

.texto-banner h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  color: #000000;
  text-shadow: 2px 2px #ED582E;
}

.director {
  width: 55%;
  justify-content: center;
  text-align: center;
}

.flexContainerDirector {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.txtImage img {
  width: 600px;
  height: 700px;
  margin-left: 100px;
  border-radius: 5px;
}

.txtTributo {
  display: column;
  justify-content: left;
  width: 55%;
  font-size: 21px;
}

.txtDirector {
  width: 90%;
  color: #ED582E;
  text-shadow: 2px 2px 4px #5b5b5b;
}

h1,
h3,
p {
  color: #fff;
  align-items: right;
  margin-left: 25px;
  margin-top: 0;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111111;
  color: white;
  text-align: center;
  width: 100%;
  height: 75px;
}